<header class="header">
  <div fxLayout="row" fxLayout.xs="column">
    <div fxFlex="50%">
      <a href="/" aria-current="page" class="c-image_wrapper cc-navbar_img w-nav-brand w--current" aria-label="home">
        <img src="https://uploads-ssl.webflow.com/60f0307b23fb87d67a969b13/60f0307b23fb8798d3969b4a_logo.svg" alt="caronsale logo" class="c-image">
      </a>
      <h2>Auctions</h2>
    </div>
    <div fxFlex></div>
    <div fxFlex="33%" class="text-right logout">
      <button type="submit" mat-button mat-raised-button class="btn" (click)="logout()">LOGOUT</button>
    </div>
</div>
</header>